<!-- tournament_detail.html -->

{% block content %}
<h1>Détails du tournoi: {{ tournament.name }}</h1>
<p>Sport: {{ tournament.sport }}</p>

<h2>Ajouter un participant</h2>
<form method="post" action="{% url 'add_participant' tournament.id %}">
    {% csrf_token %}
    {{ participant_form.as_p }}
    <button type="submit">Ajouter</button>
</form>

<h2>Veuillez saisir tous les participants au tournoi</h2>
<ol>
    {% for participant in participants %}
        <li>{{ participant.name }} - {{ participant.points }} points</li>
    {% endfor %}
</ol>

<form method="post" action="{% url 'create_match_for_tournament' tournament.id %}">
    {% csrf_token %}
    <button type="submit">Tirer au sort tous les matchs du tournoi à jouer</button>
</form>

<h2>Matchs</h2>
<ul>
    {% for match in matches %}
    <div>
        <p>{{ match.firstParticipant.name }} vs {{ match.secondParticipant.name }} - Score actuel: {{ match.firstParticipantScore }}:{{ match.secondParticipantScore }}</p>
        <form method="post" action="{% url 'addScoreForMatch' match.id tournament.id %}">
            {% csrf_token %}
            <input type="text" name="firstParticipantScore" placeholder="Score {{ match.firstParticipant.name }}" required>
            <input type="text" name="secondParticipantScore" placeholder="Score {{ match.secondParticipant.name }}" required>
            <button type="submit">Ajouter le score</button>
        </form>
    </div>
    {% endfor %}
</ul>

{% endblock %}